@font-face {
    font-family: "poppins-regular";
    src: url("./Poppins-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "poppins-semibold";
    src: url("./Poppins-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}
